doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
        include links.pug
    body#inicio_body.bg-dark
        .container-fluid
            .row
                .col-md-12
                    #menu_ini
                        .row
                            #servidor_col.col-6
                                img#servidor(src="/images/servidor.jpg" onclick="ocultarImg('cliente')")
                                #desc_cliente
                                    .row
                                        #cli_title.p-3.mb-2.bg-info.text-white.h2.text-center Cliente
                                    .row 
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Información general
                                        .col-md-12
                                            .row 
                                                h5#codigoNav.informacion.text-white.mb-1
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Navegador
                                        .col-md-6
                                            .row 
                                                h5#javaEn.informacion.text-white.mb-1
                                        .col-md-6
                                            .row 
                                                h5#lenguajeNav.informacion.text-white.mb-1
                                        .col-md-6
                                            .row 
                                                h5#plataformaNav.informacion.text-white.mb-1
                                        .col-md-6
                                            .row 
                                                h5#cookiesEnabled.informacion.text-white.mb-1
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Plugins
                                        .col-md-6
                                            .row 
                                                h5#pluginsNav.informacion.text-white.mb-1
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Dispositivo
                                        .col-md-12
                                            .row 
                                                h5#cpus.informacion.text-white.mb-1
                            .logout
                                img#logout.align-self-center(src="/images/logout.png" onclick="logout()")
                            #cliente_col.col-6
                                img#cliente(src="/images/cliente.jpg" onclick="ocultarImg('servidor')" )
                                #desc_servidor
                                    .row 
                                        #serv_title.p-3.mb-2.bg-info.text-white.h2.text-center Servidor
                                    .row
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Esquema
                                        .col-md-6
                                            .row 
                                                h5.informacion.text-white.mb-1 Dispositivo: #{release}
                                        .col-md-6
                                            .row 
                                                h5.informacion.text-white.mb-1 Arquitectura: #{arch}
                                    .row
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 CPU
                                        .row    
                                            .col-md-6 
                                                h5.informacion.text-white.mb-1 Modelo: #{cpus[0].model}
                                            .col-md-6
                                                h5.informacion.text-white.mb-1 Velocidad: #{cpus[0].speed / 1000} GHz x #{cpus.length}
                                    .row
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Sistema operativo
                                        .col-md-6
                                            .row 
                                                h5.informacion.text-white.mb-1 Plataforma: #{plataforma}
                                        .col-md-6
                                            .row 
                                                h5.informacion.text-white.mb-1 Endianess: #{endianess}
                                    .row
                                        #secciones.p-3.mb-2.bg-light.text-dark.h4 Memoria RAM
                                        .col-md-6
                                            .row
                                                h5.informacion.text-white.mb-1 Total: #{Math.trunc(totalMem / 1073741824)} GB
                                        .col-md-6
                                            .row 
                                                h5.informacion.text-white.mb-1 Libre: #{Math.trunc(freeMem / 1073741824)} GB
                                    .row
                                        .col-md-4 
                                            .row
                                                button#botonConfiguracion.text-dark.btn.btn-lg.btn-block.btn-warning.mt-3(type="button" onclick="mostrarModal('#modalServ')") Redes
                                        .col-md-4 
                                            .row
                                                button#botonConfiguracion.text-white.btn.btn-lg.btn-block.btn-danger.mt-3(type="button" onclick="mostrarModal('#modalGraficos')") Graficos
                                        .col-md-4 
                                            .row 
                                                button#botonConfiguracion.text-dark.btn.btn-lg.btn-block.btn-warning.mt-3(type="button" onclick="mostrarModal('#modalConf')") Configuración

            #modalServ.modal.fade(tabindex='-1' role='dialog')
                .modal-dialog.modal-xl(role='document')
                    .modal-content
                        #modalHeader.modal-header.bg-primary.text-white
                            | Detalles del servidor
                        .modal-body
                            .h4.mb-3.text-center
                                | Interfaces
                            hr
                            .row 
                                .col.text-center 
                                    h4 IPv4
                                    hr
                                .col.text-center 
                                    h4 IPv6
                                    hr
                            each interfaz in interfaces
                                .row
                                    .col
                                        h5.infoModal #{interfaz[0].address}
                                        h5.infoModal #{interfaz[0].netmask}
                                        h5.infoModal #{interfaz[0].cidr}
                                    .col
                                        h5.infoModal #{interfaz[1].address}
                                        h5.infoModal #{interfaz[1].netmask}
                                        h5.infoModal.mb-4 #{interfaz[1].cidr}

            #modalConf.modal.fade(tabindex='-1' role='dialog')
                .modal-dialog.modal-xl(role='document')
                    .modal-content
                        #modalHeader.modal-header.bg-primary.text-white
                            | Configuración de servicios
                        #alertaCorreo.alert.alert-success(role="alert")
                        #alertaCorreoError.alert.alert-danger(role="alert")
                        .modal-body
                            .row 
                                h4 Configuración del servicio de correo
                            .row.mt-1
                                .col-4
                                    input#emailTogo.form-control.form-control-lg.text-center(type="email", name="emailTogo" placeholder="Email" oninput="compEmail($('#emailTogo').val(), $('#passTogo').val())")
                                    small#emailHelp.form-text Email que usará TogoAdmin para enviarte copias de seguridad.
                                .col-4
                                    input#passTogo.form-control.form-control-lg.text-center(type="password", name="passTogo" placeholder="Password" oninput="compEmail($('#emailTogo').val(), $('#passTogo').val())")
                                    small#emailHelp.form-text Password del email introducido anteriormente.
                                .col-4 
                                    button#regCorreo.btn.btn-success.btn-lg.btn-block(type="button" onclick="regCorreo($('#emailTogo').val(), $('#passTogo').val())" disabled) Registrar
                            hr
                            .row.text-center
                                h4 Selección de backups
                            .row.mt-1
                                .col-6
                                    input#emailTo.form-control.form-control-lg.text-center(type="email", name="emailTo" placeholder="Email")
                                    small#emailToHelp.form-text Email donde se enviarán los datos
                                .col-6
                                    button#enviarBack.btn.btn-success.btn-lg.btn-block(type="button" name="enviarBack" onclick="enviarBack($('#emailTo').val())") Enviar backup

            #modalGraficos.modal.fade(tabindex='-1' role='dialog')
                .modal-dialog.modal-xl(role='document')
                    .modal-content
                        #modalHeader.modal-header.bg-primary.text-white
                            | Estadisticas
                        .modal-body
                            .row
                                .col-6
                                    .row.text-center 
                                        h4 Espacio en disco 
                                    .row 
                                        canvas#graficoDiscos
                                .col-3 
                                    .row.text-center 
                                        h4 Uso de CPU 
                                    .row 
                                        canvas#graficoCPU
                                    hr
                                    .row.text-center
                                        h4 Procesos
                                    .row 
                                        canvas#graficoProcesos
                                .col-3
                                    .row.text-center 
                                        h4 Uso de RAM
                                    .row 
                                        canvas#graficoMem
                                    hr
                                    .row.text-center
                                        h4 Internet
                                    .row 
                                        canvas#graficoInternet


